---
import "../styles/home.css";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Main Content -->
  <main>
    <!-- Hero Section -->
    <section id="hero"></section>
  </main>
</Layout>
