---
const {
  title = "Archive Heading",
  text = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, saepe.",
} = Astro.props;
---

<div class="archive-heading">
  <h2>{title}</h2>
  <p>{text}</p>
</div>

<style>
  .archive-heading {
    max-width: 30rem;
    h2 {
      font-size: clamp(1.5rem, 2.7778vw + 0.6rem, 2rem);
      margin-bottom: 0.25em;
      color: var(--primary-color);
    }

    p {
      font-size: 1rem;
      color: var(--gray-6);
      line-height: 1.5;
    }
  }
</style>
