---
import "../styles/footer.css";
---

<!-- Footer -->
<footer>
  <div class="container">
    <!-- CTA -->
    <div class="footer-cta" id="contact">
      <div class="footer-cta-content">
        <p>I'd love to hear from you.</p>

        <span class="email">
          <a href="mailto:devhanza@gmail.com">devhanza@gmail.com</a>
          <i class="icon icon-copy"></i>
        </span>

        <p>Drop a message or connect below.</p>
      </div>
      <div class="footer-cta-links">
        <div class="nav-links-social">
          <a
            href="https://github.com/DevHanza/"
            aria-label="View Github profile"
          >
            <i class="bx bxl-github" aria-hidden="true"></i>
          </a>
          <a
            href="https://linkedin.com/in/devhanza/"
            aria-label="View Linkedin profile"
          >
            <i class="bx bxl-linkedin" aria-hidden="true"></i>
          </a>
          <a href="mailto:devhanza@gmail.com" aria-label="Send an email.">
            <i class="bx bx-envelope" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

    <!--  Credits -->
    <div class="footer-credits">
      <p>Copyright © Hansana 2026. All Rights Reserved.</p>

      <div class="nav-links-social">
        <a href="https://github.com/DevHanza/" aria-label="View Github profile">
          <i class="bx bxl-github" aria-hidden="true"></i>
          <!-- 20px -->
        </a>
        <a
          href="https://linkedin.com/in/devhanza/"
          aria-label="View Linkedin profile"
        >
          <i class="bx bxl-linkedin" aria-hidden="true"></i>
        </a>
        <a href="mailto:devhanza@gmail.com" aria-label="Send an email.">
          <i class="bx bx-envelope" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
