---
import "../styles/header.css";
import githubIcon from "../assets/logos/bxl-github.svg?raw";
import linkedinIcon from "../assets/logos/bxl-linkedin.svg?raw";
---

<!-- Header -->
<header>
  <div class="header-title">
    <a href="/"> Hansana </a>
    <span>—— Software Engineer</span>
  </div>
  <nav class="header-nav">
    <div class="header-nav-social">
      <a href="https://github.com/DevHanza/" aria-label="View GitHub profile">
        <i set:html={githubIcon} aria-hidden="true" />
      </a>
      <a
        href="https://linkedin.com/in/devhanza/"
        aria-label="View Linkedin profile"
      >
        <i set:html={linkedinIcon} aria-hidden="true" />
      </a>
    </div>

    <a href="#contact">
      <button class="btn btn-primary">
        Contact
        <div class="icon icon-arrow-up-right" aria-hidden="true"></div>
      </button>
    </a>
  </nav>
</header>
