---
import "../styles/global.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import favicon from "../assets/ProjectThumbs/SchoolNotes.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hansana | Software Engineer</title>

    <!-- Favicons -->
    <link
      rel="icon"
      type="image/png"
      href="/favicons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Hansana" />
    <link rel="manifest" href="/favicons/site.webmanifest" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Fonts -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/lucide-static@1.9.0/font/lucide.css"
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
